<fieldset>
  <legend>Become A New Babysitter!</legend>
<!-- first name -->
  <div class="form-group">
    <label for="babysatter-firstname">First Name</label><br>
    <input class="form-control" id="babysatter-firstname" type="text" name="name" value="{{babysatter.firstname}}"/>
  </div>
<!-- last name -->
  <div class="form-group">
    <label for="babysatter-lastname">Last Name</label><br>
    <input class="form-control" id="babysatter-lastname" type="text" name="name" value="{{babysatter.lastname}}"/>
  </div>
<!-- city -->
<div class="form-group">
  <label for="babysatter-lastname">City</label><br>
  <input class="form-control" id="babysatter-city" type="text" name="name" value="{{babysatter.city}}"/>
</div>
<!-- phone number -->
<div class="form-group">
  <label for="babysatter-phonenumber">Phone Number</label><br>
  <input class="form-control" id="babysatter-phonenumber" type="text" name="name" value="{{babysatter.phonenumber}}"/>
</div>
<!-- rate -->
<div class="form-group">
  <label for="babysatter-hourlyrate">Hourly Rate</label><br>
  <input class="form-control" id="babysatter-hourlyrate" type="text" name="name" value="{{babysatter.hourlyrate}}"/>
</div>
<!-- SAT score -->
<div class="form-group">
  <label for="babysatter-satscore">SAT Score</label><br>
  <input class="form-control" id="babysatter-satscore" type="text" name="name" value="{{babysatter.satscore}}"/>
</div>

  <!-- DESCRIPTION -->
  <!-- <div class="form-group">
    <label for="babysatter-description">Description</label><br>
    <textarea class="form-control" id="babysatter-description" name="description" rows="10" />{{babysatter.description}}</textarea>
  </div> -->






</fieldset>
